body {
	background-color: #F5F5F5;
}

.movie-container {
	border-radius: 20px;
	padding: 10px;
	height: 150px;
	background-color: rgb(200, 200, 200);
	margin-bottom: 1rem;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.movie-container img {
	width: auto;
	height: 100%;
}
