body {
	background-color: #F5F5F5;
}

.movie-container {
	display: flex;
	flex-direction: row;
	border-radius: 20px;
	padding: 10px;
	height: 150px;
	background-color: rgb(200, 200, 200);
	margin-bottom: 1rem;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.movie-container img {
	width: auto;
	height: 100%;
	border-radius: 15px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.movie-container-texto {
	margin-left: 20px;
	font-size: x-large;
}

#movie-container-sinopsis {
	font-size: medium;
	text-overflow: ellipsis;
    overflow: hidden;
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
