<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- VideoKlub</title>
    <!-- Uso de url_for para obtener la ruta de elementos de la página -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='estilo.css' ) }} />
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
    </script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

</head>

<body>
    <div class="header">
        <span id="titulo-web">VideoClub</span>
        {% if not session['usuario'] %}
        <span class="usuario-header">No se ha iniciado sesión</span>
        {% else %}
        <script>actualizarSaldo()</script>
        <span class="usuario-header">Usuario: {{ session['usuario'] }}</span>
        {% endif%}
    </div>

    <div class="side-bar">
        <a href="{{ url_for('index') }}">
            <button class="side">Home</button>
        </a>
        <a href="{{ url_for('carrito') }}"><button class="side">Carrito</button></a>

        {% if not session['usuario'] %}
        <a href="{{ url_for('login') }}"><button class="side">Iniciar Sesion</button></a>
        <a href="{{ url_for('registro') }}"><button class="side">Registro</button></a>

        {% else %}
        <a href="{{ url_for('historial') }}"><button class="side">Historial Compras</button></a>
        <a href="{{ url_for('saldo') }}"><button class="side" id="saldo-side">Saldo:</button></a>
        <a href="{{ url_for('logout') }}"><button class="side">Cerrar Sesion</button></a>
        {% endif%}
    </div>

    <div class="content">
        <div id="message-container">
            <span id="message">Message</span>
        </div>
        {% block content%} {% endblock %}
    </div>

    <div class="footer">
        <span id="user-count"></span>
        <a href="https://github.com/pabloizaguirre">Pablo</a> y Gian
    </div>
</body>

</html>