{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}

<div class='page-title'>
    Carrito
</div>

<div>
    {% if not 'carrito' in session %}
        <div class='comment'> Carrito vacio </div>
    {% else %}
        {% for (id, num) in session['carrito'].items() %}
            <div class="cart-element">
                <a href="{{ url_for('descripcion', id_pelicula = id) }}">
                {{ movies[id].titulo }}
            </a>
                Unidades: 
                <span class="cart-count" id="cart-count-{{ id }}">{{ num }} </span>
                
                <button type="button" class="add-to-cart-plus small-button" id="add-to-cart-plus-{{ id }}">+</button>
                <button type="button" class="remove-from-cart small-button" id="remove-from-cart-{{ id }}">-</button>

            </div>
                
        {% endfor %}
    {% endif %}
</div>
{% if 'carrito' in session %}
    <button type="button" id="vaciar-carrito">Vaciar</button>
    {% endif %}
{% endblock%}

