{% extends 'base.html' %}

{% block register %}{% endblock%}
{% block carrito %}{% endblock%}

{% block content%}
<div class="informacion-pelicula">
	<img src="{{ url_for('static', filename='img/' + peli.poster) }}" alt="{{ peli.titulo }}">
	<div class="descripcionPelicula">
		<p><b>Titulo: </b>{{ peli.titulo }}</p><br>
		<p><b>Fecha: </b>{{ peli.año }}</p><br>
		<p><b>Sinopsis: </b>{{ peli.sinopsis }}</p><br>
		<p><b>Criticas: </b>{{ peli.criticas }}</p><br>
	</div>
	<div>
		<button type="button" class="add-to-cart" id="add-to-cart-{{ peli.id }}">Añadir al carrito</button>
	</div>
</div>

<div class="BotonyValoracion">

</div>
{% endblock %}