{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block register %}
{% endblock%}

{% block carrito %}
	<a href="{{ url_for('carrito') }}">carrito</a>
{% endblock%}

{% block content %}

<form name = "busqueda-drop" method="POST">
            	<input type="text" name = "texto_busqueda" class = "search" placeholder="Search..">
            	<input type="submit" name="submit" class = "submit" value = "Search"/>
 </form>

<div id="container" style="width:500px">
    {% for item in movies %}
    <div class="movie-container">
        <a href="{{ url_for('descripcion') ~ "?film_id=" ~ item.id }}">
        {{ item.titulo }}
    </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
