{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock%}

{% block content %}

<div id="busqueda-index-container">
    <form name="busqueda-drop" method="POST" id="busqueda-index">
        <input type="text" name="texto_busqueda" class="search" placeholder="Search..">
        <input type="submit" name="submit" class="submit" value="Buscar" />
    </form>

    <form name="filtrado" method="POST" id="filtrado-index">
        <select name="categorias" id="categorias-filtrado">
            {% for categoria in categorias %}
                <option value="{{ categoria }}">{{ categoria }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filtrar" />
    </form>
</div>

<div id="container">
    {% if not movies %}
    <div class="comment">
        No hay resultados para esta búsqueda
    </div>
    {% endif %}
    {% for item in movies.values() %}
    <div class="movie-container" , id="{{ item.id }}"
        onclick="location.href='{{ url_for('descripcion', id_pelicula = item.id)  }}';" style="cursor: pointer;">
        <img src=" {{ url_for('static', filename='img/' + item.poster) }} ">
        <div class="movie-container-texto">
            <span class="movie-container-title">{{ item.titulo }}</span>
            <p class='movie-container-sinopsis'>
                {{ item.sinopsis }}
            </p>

            <svg viewBox="0 0 1000 200" class='rating'>
                <defs>

                    <polygon id="star" points="100,0 131,66 200,76 150,128 162,200 100,166 38,200 50,128 0,76 69,66 " />

                    <clipPath id="stars">
                        <use xlink:href="#star" />
                        <use xlink:href="#star" x="20%" />
                        <use xlink:href="#star" x="40%" />
                        <use xlink:href="#star" x="60%" />
                        <use xlink:href="#star" x="80%" />
                    </clipPath>

                </defs>

                <rect class='rating__background' clip-path="url(#stars)"></rect>

                <!-- Change the width of this rect to change the rating -->
                <rect width="{{ (item.valoracion * 20) }}%" class='rating__value' clip-path="url(#stars)"></rect>

            </svg>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}