{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block register %}
   
{% endblock%}

{% block carrito %}
	<a href="{{ url_for('carrito') }}">carrito</a>
{% endblock%}

{% block content %}

<form name = "busqueda-drop" method="POST">
            	<input type="text" name = "texto_busqueda" class = "search" placeholder="Search..">
            	<input type="submit" name="submit" class = "submit" value = "Search"/>
 </form>

<div id="container" style="width:500px">
	<div id="content" style="background-color:#EEEEEE;height:200px;width:400px; float:left;">
    <ul>
    {% for item in movies %}
    <li>{{ item.titulo }}</li>
    {% endfor %}
    <ul></div>
</div>
{% endblock %}