{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block register %}
   <a href="{{ url_for('registro') }}">registro</a>
{% endblock%}

{% block content %}

    {% if mensaje_error %}
        <script>
            displayMessage("{{ mensaje_error }}", error=true);
        </script>
    {% endif %}

    <div class='page-title'>Iniciar sesión</div>
    <form action="" method="post">
        <label>Username: </label>
        <input name="username" type="text" placeholder="Enter username" required>
        <label>Password: </label>
        <input name="password" type="password" placeholder="Enter password" required>
        <p>
        <input type="submit" value="Iniciar Sesion" class="button-style green-button">
    </p>
    </form>
{% endblock %}
